.box-design{
    border: 1px solid grey;
    background-color: #EDEDED;
    border-radius: 5px;
    margin-top: 20px;
    opacity: 1.5;

   
}
.colorbox-design{
    border: 1.5px solid grey;
    color: #007EB4;
    border-radius: 5px;
}



#first-row{
    background-color: #D8D8D8;
}

.textstyle{
    opacity: 0.6;
}